/* General style */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
}

h1 {
  color: #4CAF50;
  margin-bottom: 20px;
}

/* Fullscreen Button */
.fullscreen {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s linear;
  width: 50px;
  height: 50px;
}

.fullscreen:hover {
  background-color: #4CAF50;
  color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark Mode Button */
.tooltip {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #4CAF50;
  border: 2px solid #4CAF50;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s linear;
  width: 50px;
  height: 50px;
}

.tooltip:hover {
  background-color: #4CAF50;
  color: #4CAF50;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Dark Mode Style */
.dark-mode {
  background-color: #1a1a1a;
  color: #1a1a1a;
}

/* Container for video, buttons, and status */
.container {
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 7px 40px #4CAF50;
  width: 70%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s linear;
}

video {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  border-radius: 10px;
  background-color: #ddd;
  box-shadow: #4CAF50;
}



/* Screenshot Previews Section */
.screenshot-previews {
  padding: 20px;
  max-width: 800px;
  width: 30%;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 7px 40px #4CAF50;
  border-radius: 10px;
}

#screenshotsList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.screenshot-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 400px;
}

.screenshot-preview img {
  max-width: 80px;
  max-height: 80px;
  border-radius: 5px;
}

.screenshot-preview button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.screenshot-preview button:hover {
  background-color: #333;
}

/* Button Styles */
button {
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.btn-start {
  background-color: #4CAF50;
  color: #ffffff;
}

.btn-stop {
  background-color: #f44336;
  color: white;
}

.btn-screenshot {
  background-color: #008CBA;
  color: white;
}

button:disabled {
  background-color: #b1b1b1;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #333;
}

/* Status Text Style */
.status {
  margin-top: 10px;
  font-size: 14px;
  color: #666;
}
